body {
	padding-top: 10px;
}
h1 {
	background-color: royalblue;
	color: white;
	padding: 5px;
}
h2 {
	border-width: 0px 0px 2px 5px;
	border-style: solid;
	border-color: royalblue;
	padding: 2px;
}

.top-bar {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background-color: dimgray;
	padding: 3px;
}
.top-bar a {
	color: white;
	font-size: 90%;
}

.code {
	background-color: lightgrey;
	padding: 5px;
	margin: 10px;
	width: 70%;
	font-family: 'ＭＳ ゴシック' 'Osaka-等幅';
	font-size: 95%;
}

